body {
  background: #65ffeacc;  
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.containerMenuCalendario {
  display: flex;
  flex-direction: row;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

p {
  color: #666;
  line-height: 1.6;
}

/* menu lateral */

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(255, 253, 254);
  background: #a901f1;
  margin-bottom: 15px;
  border-radius: 0%, 0%, 20%, 20%;
}

.contenido {
  background: #c769f0;
  margin: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.navbar .menu-items {
  display: flex;
  border-radius: 0px, 0px, 20px, 20px;
  height: 100%;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  border-radius: 0px, 0px, 20px, 20px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 70px;
  margin-top: 60px;
  box-shadow: inset 0 0 30px rgba(254, 254, 254, 0.829);
  background-color: #8403bb;
  height: 150vh;
  width: 70vh;
  transform: translateX(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  height: max-content;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar .menu-items h4 {
  color: white;
}

.navbar .menu-items a:hover {
  color: rgb(57, 246, 164);
  font-style: italic;
  font-size: x-large;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background: red;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background: red;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
