/* fondo */
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.table-bordered{
  border: none;
}

.cuerpo{
  background: #f4a0fff0; 
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.principal{
  background: white;
  border-radius: 5px;
  padding: 25px;
}

.contenido{
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* menu lateral */

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(255, 255, 255);
  background: #cd57ff;
  margin-bottom: 15px;
}

.container {
  background: #c769f0;
  margin: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 70px;
  margin-top: 60px;
  box-shadow: inset 0 0 30px rgba(254, 254, 254, 0.829);
  background-color: #c95ad3;
  height: 167vh;
  width: 70vh;
  transform: translateX(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -80px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar .menu-items h4 {
  color: white;
}

.navbar .menu-items a:hover{
  color: rgb(57, 246, 164);
  font-style: italic;
  font-size: x-large;
}


.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  background: red;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  background: red;
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}


  /* botones */   

  button:active {
    color: rgb(249, 83, 255);
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #0e0d0d;
   }
   
   button:disabled {
    cursor: auto;
    color: grey;
   }
